node_modules
pnpm-lock.yaml
yarn.lock
.dist
.vercel
frontend/dist
backend/dist
**/.DS_Store
**/coverage
**/.turbo
*.tsbuildinfo
frontend/vite.config.js
frontend/vite.config.d.ts
.env
.env.local
.env.*.local
backend/dist
backend/prisma/*.db
coverage
